.label {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    gap: 13px;
}

.name {
    width: 168px;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.015em;
}