@import '../../assets/styles/media';

.name {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.email {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
    margin: 0;
    opacity: 0.5;
}

.phone {
    display: none;
}

@include media('desktop') {
    .desktop {
        display: none;
    }
    .phone {
        display: block;
        width: 100%;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
}