.text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.08px;
    margin: 57px auto 10px;
    width: 280px;
}

.wrapper {
    width: fit-content;
    margin: 44px auto;
}