.date {
    display: flex;
    gap: 14px;
}
.checkboxText {
    flex-basis: 360px;
}
.checkboxLink {
    display: inline-block;
    margin: 0 10px 0 5px;
    color: #37A8C1;
}
.checkboxWraper {
    margin-bottom: 48px;
}