.input {
    width: 398px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding-inline: 18px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}