.tariff {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding: 5px 0;
    &:last-of-type {
        border: none;
    }
}
.image {
    width: 70px;
    height: 70px;
    transform: scale(150%) translateX(-8px) translateY(5px);
}
.wrapper {
    display: grid;
    grid-template-columns: 125px 85px 120px 130px;
    gap: 0 28px;
}
.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin: 0;
}
.text, .disabled, .included {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.01em;
    opacity: 0.5;
    margin: 9px 0 0;
}
.disabled, .included {
    margin: 0;
}
.included {
    opacity: 1;
    color: #00FF75;
}
.time {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    margin: 0;
}