.wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
}

.forget {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-align: end;
}

.form {
    width: 100%;
    margin-top: 38px;
}
