@import '../../../assets/styles/media';
@import '../../../assets/styles/constants';

.body {
    display: grid;
    padding: 32px 0;
    grid-template-columns: 123px 151px 216px;
    gap: 16px 35px;
    grid-template-areas:
        ". main-coin main-coin"
        ". . change-scores"
        ". . change-tickets"
        "replenish replenish code";

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    button {
        background-color: transparent;
        border: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.24px;
        text-align: start;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }
}

.money {
    grid-area: main-coin;
}

.scores {
    grid-area: change-scores;
}

.tickets {
    grid-area: change-tickets;
}

.code,
.replenish {
    margin-top: 36px;
    color: #C04BE8;
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 0 0 30px;
}

.replenish {
    grid-area: replenish;
    background-image: url('../../../assets/images/account/balance/plus.svg');
}

.code {
    grid-area: code;
    background-image: url('../../../assets/images/account/balance/doc-detail.svg');
}

.exchange {
    color: #37A8C1;
    padding: 0;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    margin: 0;
}

.image {
    width: 22px;
    height: 22px;
}

@include media('tablet') {
    .body {
        grid-template-columns: auto;
        grid-template-areas:
            ". main-coin"
            ". ."
            ". ."
            "change-scores change-scores"
            "change-tickets change-tickets"
            "replenish replenish"
            "code code";
        justify-content: space-between;
        gap: 12px;
        padding: 32px 0 12px;

        button {
            justify-self: center;
        }

        &>div,
        &>p {
            padding-bottom: 20px;
        }

        .replenish {
            margin-top: 20px;
        }

        .tickets {
            padding-bottom: 32px;
            width: 100%;
            text-align: center;
            border-bottom: $border-line;
        }

        .code {
            margin-top: 6px;
        }
    }

    .scores {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        &::before {
            content: '';
            display: block;
            background-image: url('../../../assets/images/account/balance/exchange.svg');
            width: 60px;
            height: 60px;
        }
    }
}