@import '../../assets/styles/media';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 10;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(34, 34, 40, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        z-index: 2;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    position: relative;
}

.logo {
    width: 76px;
    height: 48px;
    margin-right: 15px;
    position: relative;
    z-index: 3;
}

.navigation {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.menu {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    align-items: center;

    & li {
        position: relative;
    }

    & div {
        padding-top: 43px;
        position: absolute;
        z-index: 3;
        top: 23px;
        left: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 300ms ease-in-out;
    }
}

.link {
    display: block;
    text-decoration-line: none;
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.005em;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
    cursor: pointer;

    &_home {
        display: none;
    }

    &:hover {
        background: #18181B;
        border-radius: 10px;
    }
}

.submenu {
    margin: 0;
    list-style: none;
    background: #2F2F32;
    border-radius: 20px;
    width: 185px;
    padding: 21px 17px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 14px;
    display: flex;
}

.sublink {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.005em;
    color: #D2D2D2;
    text-decoration-line: none;

    &:hover {
        color: #fff;
    }
}

.lang {
    border: 0;
    color: #fff;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 18px;
    background: transparent;
    z-index: 3;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width:900px) {
    .menu li:hover div {
        max-height: 350px;
    }
}

@include media('desktop') {
    .link {
        font-size: 13px;
        padding: 8px;
    }

    .lang {
        margin: 0 10px 0 0;
        font-size: 14px;
    }

    .logo {
        margin: 0;
    }

    .header {
        height: 55px;
    }
    .wrapper {
        justify-content: space-between;
    }
    .navigation {
        position: fixed;
        flex-direction: column;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background: #18181B;
        padding: 95px 33px 32px 37px;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        transition: all 500ms ease-in-out;
        justify-content: flex-start;

        &.active {
            top: 0;
        }
    }
    .menu {
        display: block;
        width: 100%;

        & li {
            width: 100%;

            & div {
                position: relative;
                top: 0;
                padding: 0;
                max-height: fit-content;
                animation: hidden 0.5s forwards;
            }

            &.open {
                & div {
                    animation: show 1s forwards;
                }

                & .arow {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .submenu {
        width: 100%;
        height: auto;
        padding: 0 0 14px;
        background: transparent;
    }
    .sublink {
        display: block;
        color: #fff;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .burger {
        background-image: url(../../assets/images/btnmenu.png);
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 10px;
        background-color: #79109D;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
        transition: all 500ms ease-in-out;

        &.active {
            background-image: url(../../assets/images/close-small.svg);
            background-color: #fff;
        }
    }
    .link {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
        padding: 0;
        margin-bottom: 20px;

        &_home {
            display: block;
            text-decoration-line: none;
            color: #fff;
            font-weight: 800;
            font-size: 20px;
            letter-spacing: -0.005em;
            margin-bottom: 27px;
        }
    }
    .arow {
        display: block;
        background-image: url(../../assets/images/arow.svg);
        height: 20px;
        width: 20px;
        position: relative;
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
    }
    .lang {
        margin: 0;
        position: absolute;
        right: 33px;
        top: 95px;
    }
}

@keyframes show {
    from {
        max-height: 0;
    }

    to {
        max-height: 300px;
    }
}

@keyframes hidden {
    from {
        max-height: 300px;
    }

    to {
        max-height: 0;
    }
}