@import '../../assets/styles/constants.scss';
@import '../../assets/styles/media';

.wrapper {
    width: 320px;
    position: sticky;
    top: 80px;
    height: fit-content;

    @include media('desktop') {
        display: none;
    }
}

.navbar {
    background-color: $mainColor;
    width: 100%;
    border-radius: 6px;
    padding: 6px 24px 24px;
    box-sizing: border-box;
    height: fit-content;
}