.important {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    opacity: 0.5;
    margin: 20px 0 30px;
}
.container {
    display: flex;
    gap: 19px;
    padding-bottom: 32px;
}