@import '../../../../../assets/styles/constants';
@import '../../../../../assets/styles/media';

%coin {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

.rate {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    margin: 29px 0 0;

    span {
        display: block;
        font-size: 28px;
        margin-top: 4px;
    }
}

.form {
    margin-top: 32px;
    padding-bottom: 48px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    width: 100%;
    margin-bottom: 24px;
    position: relative;

    .text,
    .input {
        border: $border-line;
        border-radius: 6px;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: -0.01em;
        opacity: 0.6;
        flex: 1;
        box-sizing: border-box;
        color: $textColor;
    }

    .input {
        background-color: transparent;
        width: 198px;
        max-width: 40%;
        padding: 16px 36px 16px 16px;
    }

    .text {
        flex-basis: 383px;
        padding: 16px;
        min-width: 170px;
    }

    .coin {
        @extend %coin;
        position: absolute;
        top: 16px;
        right: 16px;

        &.main {
            background-image: url('../../../../../assets/images/account/coins/un-coin.png');
        }

        &.main_coins {
            background-image: url('../../../../../assets/images/account/coins/up-coin.png');
        }

        &.main_tickets {
            background-image: url('../../../../../assets/images/account/coins/ticket.png');
        }
    }
}

.buttons {
    display: flex;
    gap: 34px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.submit,
.buttonGray {
    padding: 20px 70px;
}

.buttonGray {
    background-color: #34323C;

    &:hover {
        background: #4c4a54;
    }
}

.title {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.01em;
    text-align: center;
}

.form.confim {
    margin-top: 45px;

    .inputs {
        display: flex;
        align-items: center;
        max-width: 480px;
        margin: 0 auto 36px;
        gap: 25px;
    }

    .label {
        margin: 0;

        .input {
            width: 100%;
            max-width: 100%;
        }

        .text {
            display: none;
        }
    }

    .exchangeIcon {
        display: block;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        background-color: #34323C;
        border-radius: 50%;
        background-image: url('../../../../../assets/images/account/coins/exchange.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .balance {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        display: flex;
        align-items: center;
        max-width: 480px;
        margin: 0 auto;

        .text {
            opacity: 0.6;
        }

        &::after {
            @extend %coin;
            content: "";
            margin-left: 5px;
            background-image: url('../../../../../assets/images/account/coins/un-coin.png');
        }
    }

    .buttons {
        margin-top: 47px;
    }
}

@include media('tablet-small') {
    .form {
        padding-bottom: 18px;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
        margin-top: 24px;
    }

    .submit,
    .buttonGray {
        padding: 17px;
        width: 100%;
    }

    .label {
        .input {
            max-width: calc(100% - 188px);
        }
    }

    .title {
        font-size: 22px;
    }

    .form.confim {
        margin-top: 20px;
        
        .inputs {
            flex-direction: column;
            gap: 16px;
            margin-bottom: 18px;
        }

        .buttons {
            margin-top: 18px;
        }
    }
}