.wrapper {
    display: flex;
    align-items: center;
    gap: 34px;
    cursor: pointer;
    &.approved {
        cursor: auto;
        & .status {
            background-image: url(../../../../../assets/images/account/Subtract.svg);
            opacity: 1;
        }
        & .label {
            color: #FFF;
        }
    }
    &:hover .status {
        opacity: 1;
    }
}
.status {
    width: 48px;
    height:48px;
    background-image: url(../../../../../assets/images/account/plus.svg);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .1s ease-in-out;
}
.label {
    margin: 0;
    width: 195px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #37A8C1;
}