@import '../../../../../assets/styles/constants.scss';
@import '../../../../../assets/styles/media';

.body {
    padding: 46px 0 60px;
    display: flex;
    gap: 46px;
    align-items: center;
}

.value {
    position: relative;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.procent {
    font-weight: 600;
    font-size: 38px;
    line-height: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: -0.015em;
}

.progress {
    transform: rotate(-90deg);
    width: 220px;
    height: 220px;
    fill: none;
    stroke-width: 8px;

    circle:nth-child(1) {
        stroke: #D9D9D9;
    }

    circle:nth-child(2) {
        transition: stroke-dashoffset 1s linear;
        stroke: $primaryColor;
        stroke-dasharray: 666;
        stroke-dashoffset: 666;
    }
}

.data {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@include media('tablet') {
    .body {
        flex-direction: column;
        padding: 32px 0 12px;
    }

    .data {
        gap: 20px;
    }
}