$textColor: var(--white, #fff);
$primaryColor: var(--primary, #79109D);
$mainColor: #232229;
$primaryHoverColor: var(--active, #9F2EC7);
$bg: var(--bg, #18181b);
$disabled-text-color: var(--disabled-text-color, #a1a1a1);
$gold: var(--gold, #ffd700);
$gray: var(--gray, #393942);

$border-line: 1px solid rgba(255, 255, 255, 0.15);