@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
    padding-top: 70px;
    background-color: #18181B;
    color: #fff;
    font-family: 'Manrope', sans-serif;

    & a {
        text-decoration-line: none;
        color: inherit;
    }
    &:has(.popup.open) {
        overflow: hidden;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    --bg: #18181b;
    --primary: #79109d;
    --white: #fff;
    --active: #9f2ec7;
    --disabled-text-color: #a1a1a1;
    --gold: #ffd700;
    --gray: #393942;
}