@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
    padding-top: 70px;
    background-color: #18181B;
    color: #fff;
    font-family: 'Manrope', sans-serif;

    & a {
        text-decoration-line: none;
        color: inherit;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    overflow: hidden;
}