.container {
    width: 265px;
    padding: 16px 12px;
    box-sizing: border-box;
    background-color: #34323C;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: absolute;
    top: 26px;
    // right: -100vw;
    transition: all .2s ease-in-out;
    z-index: 2;
    font-size: 13px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.195px;
    margin: 0;
    display: none;

    &.open {
        right: -285px;
        display: block;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: calc(100vw - 90px);
        top: auto;
        bottom: -5px;
        transform: translateY(100%);
        &.open {
            right: 0;
        }
    }
}