@import '../../../../../assets/styles/media';

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 34px;

    @include media('phone') {
        flex-direction: column;
        gap: 24px;
    }
}