.content {
    padding: 48px 30px 27px;
}

.pair {
    display: flex;
    margin-bottom: 30px;
}

.label {
    width: 41%;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.27px;
}

.about {
    width: 59%;
    margin: 0;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
}