.link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 13px;
    padding: 18px 0;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
    &.active {
        opacity: 1;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    }
    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
}